WcfNetworkTestClient/WcfNetworkTestClient/Connected Services/ServiceReference1/WcfNetworkTestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfNetworkTestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfNetworkTestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cols">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cols" nillable="true" type="tns:Cols" />
</xs:schema>